.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item {
  border: solid;
  margin: 1rem;
  padding: 1rem;
  min-width: 410px;
}

select {
  width: 410px;
  height: 2.5rem;
  text-align: center;
  font-size: 2rem;
}
